:root {
  --blue-primary: rgb(30,44,64);
  --blue-secondary: rgb(43,64,94);

  --text-primary: rgb(255,255,255);
  --text-secondary: rgb(179, 193, 212);

  --invert-text-primary: rgb(135, 135, 136);

  --card-background: rgb(239, 228, 176);
}

h1 {
  font-size:2rem;
  font-weight: normal;
}

h2 {
  font-size:1.3rem;
  font-weight: normal;
  display: inherit;
}

.App {
  text-align: center;
}

body {
  background-color: var(--blue-secondary);
}
